p > code {
  background-color: #D3D3D3;
  padding:           1px 2px;
  border-radius:     2px;
  white-space: nowrap;
  }

article > code {
  white-space: pre-wrap;
}

article > h4 {
  font-size: 1.250em;
  margin:    0.833em 0 0.167em;
  padding:   0 0 0 0.5em;
  }

article > time { padding: 0 0 0 0.75em; }
