:root {
  --site-background: #F8F8FF;
  --structure-background: #002B70;

  --text-dark: #333333;
  --text-light: var( --site-background );
  --code-background: #B3BFD4;
  --link-color: var( --structure-background );
  --text-hover: #FFCC00;

  --myb-border: #6B26FF33;
  --myb-shadow: #6B26FF;
  --myb-background: #F5F0FF;

  --dev-border: #3333FF33;
  --dev-shadow: #3333FF;
  --dev-background: #F2F2FF;
}
