:root {
  --site-background: #F8F8FF;
  --structure-background: #002B70;

  --text-dark: #333333;
  --text-light: var( --site-background );
  --code-background: #B3BFD4;
  --link-color: var( --structure-background );
  --border-light: #CCCCCC;

  --myb: #6B26FF;
  --myb-background: #F5F0FF;
}
