html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

/* -search-------------- */
form {
  display: inline-block;
  margin: 8px;
  padding: 0;
}

form > input {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0;
  border: 0;
  font-size: 1em;
  outline: none;
  transition: 500ms ease-in-out;
}

form > input[type="text"] {
  background-color: var( --text-light );
}

form > input[type="submit"] {
 -webkit-appearance: none;
  background-image: url( "../images/search-icon.svg" );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* --------------------- */
