body {
  font-family: "Optima", sans-serif;
}

/* --[ header ]-- */
header {
  color: var( --text-light );
  background-color: var( --structure-background );
}

header h1 {
  font-size: 1.5em;
  text-align: center;
}
/* -------------- */

/* ---[ main ]--- */
main {
  font-size: 1.25em;
}

main > * {
  padding: 0;
  margin: 0;
}

main > a {
  display: inline-block;
  border: 0;
  border-radius: 0.25em;
  color: var( --text-dark );
  padding: 4px 8px;
  background-color: var( --code-background );
  text-decoration: none;
  transition: 50ms linear;
}

main > a:hover {
  transform: scale( 1.1 );
}

p > code {
  background-color: var( --code-background );
  color: var( --text-dark );
  padding: 1px 4px;
  border-radius: 2px;
  white-space: nowrap;
  }

article > time {
  display: inline-block;
  font-weight: 600;
  margin-top: 1em;
}

article > code {
  white-space: pre-wrap;
}
/* -------------- */

/* -[ anchors ]-- */
main > * a {
  color: var( --link-color );
  white-space: nowrap;
}

main > * a:hover {
  text-decoration: none;
}

main > * a:active { color: var( --link-color ); }

main > * a[rel="external"] {
  border-bottom: 1px dotted;
}

main > * a[rel="external"]:hover {
  border-color: var( --link-color );
  border-bottom: 1px dotted transparent;
}
/* -------------- */

/* --[ footer ]-- */
footer {
  background-color: var( --structure-background );
  color: var( --text-light );
}

footer > small {
  display: inline-block;
  margin: 0.5em 0.25em 1em;
}
footer a {
  display: inline-block;
  transition: 50ms linear;
  text-decoration: none;
}

footer a:hover {
  transform: scale( 1.1 );
}

footer a:not( #linkedin-icon ) {
  color: var( --text-light );
  padding: 0.5em;
  margin-top: 0.5em;
}

footer a:not( #linkedin-icon ):hover {
  color: #FFCC00;
}

a#linkedin-icon {
  padding: 0 3px;
  border-radius: 0.25em;
  color: var( --text-light );
  background-color: #939393;
}
/* -------------- */
