h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  }

footer small {
  display: block;
  margin:  0.5em 0 0;
  }

/* -links------------ */
  main a         { text-decoration: none;   }
  main a:link    { color:          #6A5ACD; } /* slateblue */
  main a:visited { color:          #663399; } /* rebeccapurple */
  main a:active  { color:          #FF00FF; } /* magenta */
/* ------------------ */

p > code {
  background-color: #D3D3D3;
  padding:           1px 2px;
  border-radius:     2px;
  white-space: nowrap;
  }

article > code {
  white-space: pre-wrap;
}

article > h4 {
  font-size: 1.250em;
  margin:    0.833em 0 0.167em;
  padding:   0 0 0 0.5em;
  }

article > time { padding: 0 0 0 0.75em; }
