.tilecards {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tilecards > li {
  margin: 8px;
  transition: 50ms linear;
  border-radius: 0.25em;
  display: block;
}

.tilecards > li:hover {
  transform: scale( 1.01 );
}

/* .tilecards > li:nth-child(10) ~ li {
  display: none;
} */

.tilecards > li * {
  margin: 0;
  color: var( --text-dark );
  text-decoration: none;
}

.tilecards article {
  padding: 1em;
}

.tilecards article > * {
  padding: 0;
}

.tilecards article > h4 {
  font-size: 1.25em;
  white-space: pre-wrap;
}

.tilecards article > p {
  margin: 0.25em 0 0;
  padding: 0.25em 0 0;
  border-top: 1px var( --text-dark ) solid;
  white-space: normal;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 2.75em;
  line-height: 1.25em;
  overflow: hidden;
}

.tilecards time {
  font-weight: 600;
}

.tilecards ul {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  list-style-type: none;
}

.tilecards ul > li {
  display: inline-block;
  margin: 8px 4px 0 0;
  padding: 0 4px;
  background-color: var( --site-background );
}

/* .tilecards ul > li:first-child {
  font-weight: 600;
} */

.dev-border,
.myb-border {
  border-width: 1px;
  border-style: solid;
}

.dev-border {
  border-color: var( --dev-border );
  background-color: var( --dev-background );
}

.tilecards > .dev-border:hover {
  border-color: var( --site-background );
  box-shadow: 0 0 0.5em var( --dev-shadow );
}


.myb-border {
  border-color: var( --myb-border );
  background-color: var( --myb-background );
}

.tilecards > .myb-border:hover {
  border-color: var( --myb-background );
  box-shadow: 0 0 0.5em var( --myb-shadow );
}
