/* results */
.search-bot {
  display:         flex;
  flex-direction:  column;
  justify-content: flex-start;
  align-items:     stretch;
  align-content:   space-around;
  height:          auto;
  margin:          0;
  padding:         0;
  list-style-type: none;
}

.search-bot > li {
  margin:            0.5em 1em;
  background-color: #F8F8FF;
  transition:        50ms linear;
  border-radius:     0.3125em;
  box-shadow:      0 0.3125em 0.3125em #333333;
  }

  .search-bot > li:first-child { margin: 1.0em 1em 0.5em; }
  .search-bot > li:last-child  { margin: 0.5em 1em 1.0em; }


.search-bot > li:hover {
  transform:  scale(1.01);
  transition: 50ms linear;
  box-shadow: 0 0.5em 0.5em #333333;
  }

.search-bot > li * {
  margin:          0;
  color:          #443322;
  text-decoration: none;
  }

.search-bot > li > a > article     { padding: 1.00em; }
.search-bot > li > a > article > * {
  display:   block;
  padding:   0 8px;
  }

.search-bot > li > a > article > h4              { font-size: 1.25em;  }
.search-bot > li > a > article > h4.first-header { font-size: 1.00em;  }
.search-bot > li > a > article > time            { font-size: 0.75em;  }

.search-bot > li > a > article > hr {
  margin: 0.5em 0;
  padding: 0 0.5em;
  }

/* ---------- */
