html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

body {
  height:       100vh;
  font-family: "Optima", sans-serif;
  width:        70%;
  min-width:    480px;
  margin:       0 auto;
  }

h1,
h2 { text-align: center; }
