body {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	}

body, footer {
	width: 960px;
	}

header, footer {
	text-align: center;
	background: #FFCF9B;
	padding: 20px;
	}

footer {
	position: absolute;
	bottom: 0px;
	}

h1, h2 {
	font-family: Optima;
	font-size: 32px;
	}

h2 {
	color: #888888;
	font-size: 18px;
	}

p {
	padding: 0px 10px;
	}
