/*
 * #F8F8FF ghostwhite    site background
 *
 * #A0522D sienna        header, footer background
 * #DEB887 burlywood     header, footer text color
 *
 * #FFE4C4 bisque        main background
 * #443322 dark gray     main text color (custom)
 * #663399 rebeccapurple main a:visited
 * #6A5ACD slateblue     main a:link
 * #FF00FF magenta       main a:active
 *
 * hsl( 19,  56%, 45% )  sienna + 5% lightness
 * hsl( 33, 100%, 83% )  bisque - 5% lightness
 */


/*
 * Set the look and feel of the site
 */

html {
  box-sizing:        border-box;
  background-color: #F8F8FF; /* ghostwhite */
  }

*,
*:before,
*:after { box-sizing: inherit; }

body {
  display:     grid;
  grid:       "header navigation" auto
              "main   main      " 1fr
              "footer footer    " auto
             / auto   1fr;
  min-width:   360px;
  height:      100vh;
  margin:      0;
  font-family: Optima, sans-serif;
  }


/*
 * Set the look and feel of header, main content area, and footer
 * --------------------------------------------------------------
 */

header { grid-area: header; }

header,
footer {
  text-align:        center;
  background-color: #A0522D; /* sienna */
  color:            #DEB887; /* burlywood */
  }

main {
  grid-area:         main;
  color:            #443322; /* dark gray, custom */
  background-color: #FFE4C4; /* bisque */
  }

main,
footer { padding:   1.25em; }
footer { grid-area: footer; }


/*
 * set the look and feel of generic inline elements
 * ------------------------------------------------
 */

a {
  white-space: nowrap;
  color:      #DEB887; /* burlywood */
  }

main h3 {
  font-size: 1.500em;
  margin:    0.833em 0;
  }

footer small {
  display: block;
  margin:  0.5em 0 0;
  }

/* --- links in p --- */
  p a:link    { color:          #6A5ACD; } /* slateblue */
  p a:visited { color:          #663399; } /* rebeccapurple */
  p a:hover   { text-decoration: none;   }
  p a:active  { color:          #FF00FF; } /* magenta */
/* ------------------ */

/* --- navigation --- */
  nav ul {
    list-style-type: none;
    margin:          0;
    padding:         0;
    }

  nav a {
    display:         block;
    padding:         0.5em;
    text-decoration: none;
    }

  nav a:hover {
    background-color: hsl( 19, 56%, 45% ); /* sienna + 5% lightness */
    border-radius:    0.25em;
    }
/* ------------------ */


/*
 * set the look and feel of id-bound inline elements
 * -------------------------------------------------
 */

/* --- site title --- */
  header a#site-title {
    display: inline-block;
    padding: 0.625em;
    }

  header a#site-title:hover         { background-color: hsl( 19, 56%, 45% ); } /* sienna + 5% lightness */

  header a#site-title >        h1   { color: #FAEBD7; } /* antiquewhite */
  header a#site-title > *:not( h1 ) { display: none;  }
  header a#site-title > *:is( h1, h2, h3, h4, h5, h6 ) {
    margin:    0.125em;
    font-size: 1.500em;
    }
/* ------------------ */

/* header navigation  */
  nav#header-nav {
    grid-area:         navigation;
    display:           flex;
    flex-direction:    column;
    flex:              none;
    align-items:       flex-end;
    align-self:        flex-start;
    justify-self:      self-start;
    width:             100%;
    background-color: #A0522D; /* sienna */
    }

  nav#header-nav > ul          { display:    none;  }
  nav#header-nav > ul > li     { display:    block; }
  nav#header-nav > ul > li > a { text-align: right; }

  nav#header-nav > input[type=checkbox]#header-nav-toggle {
    -webkit-appearance: none;
    width:              2.25em;
    height:             2.25em;
    margin:             1.25em;
    border:             1px solid #443322; /* dark gray, custom */
    border-radius:      0.3125em;
    }

  nav#header-nav > input[type=checkbox]:checked#header-nav-toggle      { background-color: #FFE4C4; } /* bisque */
  nav#header-nav > input[type=checkbox]:checked#header-nav-toggle + ul { display: block; }
/* ------------------ */

/* footer navigation  */
  nav#footer-nav > ul > li {
    display:   inline-block;
    font-size: 0.75em;
    }
/* ------------------ */


/*
 * Responsive design modifications to header and generic & id-bound inline elements
 * --------------------------------------------------------------------------------
 *
 * media query layout
 *
 * |xxxxx----|  | 360 - 720 |  body { min-width: 360px; }
 * |---xxxx--|  | 481 - 960 |
 * |-----xxxx|  | 721 - inf |  inf = infinite
 * |-------xx|  | 961 - inf |
 */

@media screen and ( max-width: 720px ) { nav#header-nav { height: 100% } }

@media screen
  and ( min-width: 481px )
  and ( max-width: 960px ) {

  /* header navigation  */
    nav#header-nav {
      flex-direction: row-reverse;
      align-items:    center;
      }

    nav#header-nav > ul > li { display: inline-block; }
  /* ------------------ */
  }

@media screen and ( min-width: 721px ) {

  body {
    grid: "empty-left header       empty-right" auto
          "empty-left navigation   empty-right" auto
          "empty-left main         empty-right" 1fr
          "empty-left footer       empty-right" auto
         / 1fr        minmax( 720px, 70% ) 1fr;
    }

  header {
    padding:    0.6250em;
    margin-top: 1.0000em;
    }

  header,
  nav#header-nav,
  main,
  footer {
    border-radius:   0.3125em;
    margin-bottom:   1.0000em;
    box-shadow:    0 0.3125em 0.3125em #D3D3D3; /* lightgray */
    }

  /* --- site title --- */
    header a#site-title       { text-decoration: none;   }
    header a#site-title:hover { border-radius: 0.3125em; }
    header a#site-title h1    { font-size: 2.5em;        }
    header a#site-title h2    {
      display: block;
      font-weight: 400;
      }
  /* ------------------ */

@media screen
  and ( min-width: 721px )
  and ( max-width: 960px ) {

  header {
    margin-bottom: 0;
    border-radius: 0.3125em 0.3125em 0 0;
  }

  /* header navigation  */
    nav#header-nav { border-radius: 0 0 0.3125em 0.3125em; }
  /* ------------------ */
  }

@media only screen
  and ( min-width: 961px ) {

  body {
    grid: "empty-left header    empty-top-right" auto
          "empty-left main           navigation" 1fr
          "empty-left footer empty-bottom-right" auto
         / 1fr        minmax( 720px, 70% )  1fr;
    }

  /* header navigation  */
    nav#header-nav {
      width:        auto;
      margin:       0 1em;
      align-items:  flex-start;
      }

    nav#header-nav > input[type=checkbox]:checked#header-nav-toggle + ul { background-color: #FFE4C4; } /* bisque */

    nav#header-nav > ul > li > a {
      color:     #443322;
      text-align: left; /* dark gray, custom */
      }

    nav#header-nav > ul > li > a:hover {
      background-color: hsl( 33, 100%, 83% ); /* bisque - 5% lightness */
      border-radius:    0;
      }
  /* ------------------ */
}
